.canvas-container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 72px;
    bottom: 0px;
    z-index: -1;
}

/*
.glcanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: #56A9D5;
}
*/
#glcanvas {
    background: #56A9D5;
}

.code-block {
    white-space: pre-wrap;
    text-align: left;
    display: block;
    /*
    margin-left: 12em;
    margin-right: 12em;
    padding-left: 2em;
    padding-right: 2em;
    */
}

#performance {
    padding-top: 6em;
}

.md-footer-nav-item-wrapper {
    color: #666;
    display: table-row;
    text-align: right;
}

.md-footer-nav-item-title-wrapper {
    color: #ececec;
    font-size: 1.8rem;
}

.md-footer-nav-wrapper {
  height: 7rem;
}

.md-footer-nav__link-wrapper {
    width: 50%;
    float:right;
    display: inline-flex;
    flex-direction: row;
    position: relative;
}

.md-footer-copyright-wrapper {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    padding-left: 4em;
    padding-bottom: 2em;
}
.md-footer-copyright__highlight-wrapper {
    color:#ececec;
}

.md-flex__ellipsis-wrapper {
    display: table;
}

.md-flex__cell-wrapper {
    height: 7rem;
    width: 20rem;
    position: absolute;
    right: 0;
}

.md-flex__cell-arrow {
    font-size: 2rem;
    width:3rem;
    height: 5rem;
    display: table;
    position: absolute;
    right: 0;
}